img {
    border-radius: 40px;
    width: 200px;
    height: 200px;

}
body{
    background: url(papin.jpeg);
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: normal;
    background-position: left;
    justify-content: center;
    align-items: center;
    
}
p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}
em{
    color: deeppink;
}
div,ul,li,a{
    color: #fff;
    text-decoration: none;
     display: flex;
     text-align: center;
    gap: 20px;
   

}
a:hover{
    color: deeppink;
    border-bottom: 3px solid deeppink;
    transition: all ease 0.3s;
}
ul,li{
    
}
.competence{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3b3bc5;
}